<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" type="text/css" href="../assets/css/base.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
    <script type="text/javascript" src="../js/jquery-1.12.3.min.js" ></script>
    <script type="text/javascript" src="../js/goods.js" ></script>
</head>
<body>
<header>

        <div class="container-fluid">
            <div  class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="navbar-header">
                        <a class="navbar-brand">
                            <img alt="Brand" src="../assets/image/logo.jpg" width="100" height="35" style="position: relative; top: 4px;">
                        </a>
                    </div>

                    <div >
                         <input type="text" class="form-control" placeholder="Search" style="width:400px" id="query"/>
                        <button type="button" onclick="searchGoods()" class="btn btn-default">搜索</button>
                    </div>
                    <div class="drop_down">
                        <button class="drop_btn">{{name}}</button>
                        <div class="dropdown_content">
                            <a onclick="logout()">退出登录</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</header>


<div class="container-fluid content">
    <div  class="row">
        <div class="col-md-8 col-md-offset-2">

                <h3><span class="icon-uniE18E" style="font-size: 20px;"></span> 实时推荐</h3>
                <p class="descri">电商推荐系统猜你喜欢 <a>更多...</a></p>
                <div class="grid grid-pad">
                    <div class="row">

                    </div>
                </div>

            <div class="grid grid-pad">
                <div class="row">
                    <h3><span class="glyphicon glyphicon-heart"  style="font-size: 20px;"></span> 离线推荐</h3>
                    <p class="descri">最新添加的商品 <a>更多...</a></p>
                    <div id="goodsInfo">

                    </div>
                </div>
            </div>
            <div class="grid grid-pad">
                <div class="row">
                    <h3><span class="icon-whatshot"  style="font-size: 20px;"></span> 热门推荐</h3>
                    <p class="descri">电商推荐系统推荐了这些商品 <a >更多...</a></p>
                    <div id="hotGoods">

                    </div>
                </div>
            </div>
            <div class="grid grid-pad">
                <div class="row">
                    <h3><span class="icon-whatshot"  style="font-size: 20px;"></span>  评分最多</h3>
                    <p class="descri">为了改进推荐系统的精度，评分越多越好 <a>更多...</a></p>
                    <div id="rateMoreGoods">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>