<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html"></head>
	<script>
		$(function(){
			var data4vue = {
				user:{
					name:'',
					password:'',
					repeatpassword:''
				},
				uri:"/rest/users/register",
			};
			var vm = new Vue({
				el:'#workingArea',
				data:data4vue,
				mounted : function() {

				},
				methods:{

					regist:function(){
                        var url =  this.uri;
                        if(0==this.user.name.length){
                            $("span.errorMessage").html("请输入用户名");
                            $("div.registErrorDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.password.length){
                            $("span.errorMessage").html("请输入密码");
                            $("div.registErrorDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.repeatpassword.length){
                            $("span.errorMessage").html("请再次输入密码");
                            $("div.registErrorDiv").css("visibility","visible");
                            return;
                        }
                        if(this.user.password !=this.user.repeatpassword){
                            $("span.errorMessage").html("两次密码不一致");
                            $("div.registErrorDiv").css("visibility","visible");
                            return;
                        }
 
                        axios.post(url,this.user).then(function(response) {
                        	console.log(response)
                            var result = response.data;
                            if(result.code==200){
                                location.href="registSuccess";
                            }
                            else if(result.code==400){
                                $("span.errorMessage").html(result.msg);
                                $("div.registErrorDiv").css("visibility","visible");
                            }
                        });
                    }
				
				}
			});
		});
	</script>
<body>
	<div id="workingArea">
		<div th:replace="include/top::html"></div>
		<div th:replace="include/registPage::html"></div>

	</div>
</body>
</html>