body {
    font-family: Ubuntu,sans-serif !important;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
    color: #4c4c4c !important;
    background-color: #f1f1f1 !important;
}

form {
    margin-bottom: 30px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h5, h5 {
    font-size: 14px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}


a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}